- var spacer = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';

- var assets_path = root_path + 'assets/'
- var js_path = assets_path + 'js/'
- var css_path = assets_path + 'css/'
- var img_path = assets_path + 'img/'

